<!DOCTYPE html>
 <html ng-app>
  <head>
    <title>Angular Todo List</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <h1>Angular Todo List</h1>

    <div ng-controller="TodoControl">
      <span>{{remaining()}} of {{items.length}} remaining</span>
      <ul class="unstyled">
        <li ng-repeat="item in items">
          <input type="checkbox" ng-model="item.completed" />
          <span class="done-{{item.completed}}">{{item.description}}</span>
        </li>
      </ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/reload-client.js"></script>

    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
  </body>
</html>
